{% extends "base.html" %}

{% block title %} login {% endblock title %}

{% block staticfiles %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Login</h1>

    <form action="#" method="POST">
        {% csrf_token %}
        <div class="input-box">
            <label for="email">E-mail *</label>
            <input id="email" type="email" name="email" placeholder="Insira seu e-mail" required>
        </div>

        <div class="input-box">
            <label for="password">Senha *</label>
            <input id="password" type="password" name="password" placeholder="Insira sua senha" required>
        </div>

        <div class="login-button">
            <a class="continue-btn" href="{% url "servico" %}">Entrar</a>
        </div>

        <div class="forgot-password">
            <a href="#">Esqueceu sua senha?</a>
        </div>
    </form>
</div>

<a href="/">Voltar</a>
{% endblock content %}